extends layout

block content
    // Barra de Navegação
    .w3-top
        .w3-bar.w3-theme-d2.w3-left-align.w3-large
            // Ao clicar neste botão ir para o feed
            a.w3-bar-item.w3-button.w3-padding-large.w3-hover-white(href='/feed')
                i.fa.fa-facebook.w3-margin-right
                | myFacebook
            // Ao clicar neste botão ir para a página de perfil
            //a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-white(href='/feed' title='Perfil')
                img.w3-circle(src='/images/user.png' style='height:30px;width:30px' alt='Perfil')
                b(style="font-size:14px") &nbsp;&nbsp;Utilizador
            .w3-bar-item.w3-hide-small.w3-padding-large(style='margin-left:142px')
                .search-container
                    form(action='/utilizadores/')
                        input(type='text' placeholder='Pesquisar...' name='nome')
                        | &nbsp;
                        button.w3-button.w3-hover-white(type='submit')
                            i.fa.fa-search
            // Ao clicar neste botão ir para a página inicial (login/registo)
            form(action='/utilizador/logout' method='POST')
                button.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-white(type='submit' title='Logout' style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;")
                    i.fa.fa-power-off
            // Ao clicar neste botão mostrar os users (nova página)
            a.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-white(href='/utilizadores' title='Utilizadores')
                i.fa.fa-group
            // Ao clicar neste botão mostrar os eventos (nova página)
            a.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-white(href='#' title='Eventos')
                i.fa.fa-calendar-check-o
            .w3-dropdown-hover.w3-right.w3-hide-small
                button.w3-button.w3-padding-large.w3-hover-white(title='Notificações')
                    i.fa.fa-bell
                    span.w3-badge.w3-right.w3-small.w3-green 3
                // Ao clicar numa notificação ir para a página referente
                .w3-dropdown-content.w3-card-4.w3-bar-block(style='width:300px;right:0')
                    a.w3-bar-item.w3-button(href='#') One new friend request
    // Page Container
    .w3-container.w3-content(style='max-width:1400px;margin-top:80px')
        // The Grid
        .w3-row
            // Left Column
            .w3-col.m3
                // Profile
                .w3-card.w3-round.w3-white
                    .w3-container
                        h4.w3-center=user.nome
                        // Trigger/Open The Modal
                        .w3-center
                            button#myBtn(style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;")
                                .hvrbox.hvrbox_background.w3-circle(style='background-image: url(/images/user.png);')
                                    .hvrbox-layer_top
                                        .hvrbox-text.w3-circle
                                            | Alterar foto de perfil
                        // The Modal
                        #myModal.modal
                            // Modal content
                            .modal-content
                                span.close &times;
                                form.w3-container(action='/' method='POST' enctype='multipart/form-data')
                                    b Escolhe a tua nova foto de perfil
                                    br
                                    br
                                    input.w3-input.w3-border(type='file' name="profile_pic" id="profile_pic")
                        hr
                        p
                            i.fa.fa-home.fa-fw.w3-margin-right.w3-text-theme
                            = user.morada || '-'
                        p
                            i.fa.fa-birthday-cake.fa-fw.w3-margin-right.w3-text-theme
                            = user.dataNasc || '-/-/-'
                        .w3-center
                            p.w3-button.w3-theme-d2(id="editarPerfil") 
                                a(href="/editarPerfil") Editar Perfil
                        br
                br
                // Accordion
                .w3-card.w3-round
                    .w3-white
                        button.w3-button.w3-block.w3-theme-l1.w3-left-align(onclick="myFunction('Demo2')")
                            i.fa.fa-calendar-check-o.fa-fw.w3-margin-right
                            |  Eventos
                        #Demo2.w3-hide.w3-container
                            p Some other text..
                        button.w3-button.w3-block.w3-theme-l1.w3-left-align(onclick="myFunction('Demo4')")
                            i.fa.fa-camera.fa-fw.w3-margin-right
                            |  Álbuns
                        #Demo4.w3-hide.w3-container
                            .w3-row-padding
                                br
                                .w3-half
                                    img.w3-margin-bottom(src='/images/user.png' style='width:100%')
                                .w3-half
                                    img.w3-margin-bottom(src='/images/user.png' style='width:100%')
                                .w3-half
                                    img.w3-margin-bottom(src='/images/user.png' style='width:100%')
                                .w3-half
                                    img.w3-margin-bottom(src='/images/user.png' style='width:100%')
                                .w3-half
                                    img.w3-margin-bottom(src='/images/user.png' style='width:100%')
                                .w3-half
                                    img.w3-margin-bottom(src='/images/user.png' style='width:100%')
                br
                // Interests
                .w3-card.w3-round.w3-white.w3-hide-small
                    .w3-container
                        p Interests
                        p
                            span.w3-tag.w3-small.w3-theme-d5 News
                            span.w3-tag.w3-small.w3-theme-d4 W3Schools
                            span.w3-tag.w3-small.w3-theme-d3 Labels
                            span.w3-tag.w3-small.w3-theme-d2 Games
                            span.w3-tag.w3-small.w3-theme-d1 Friends
                            span.w3-tag.w3-small.w3-theme Games
                            span.w3-tag.w3-small.w3-theme-l1 Friends
                            span.w3-tag.w3-small.w3-theme-l2 Food
                            span.w3-tag.w3-small.w3-theme-l3 Design
                            span.w3-tag.w3-small.w3-theme-l4 Art
                            span.w3-tag.w3-small.w3-theme-l5 Photos
                br
            // End Left Column
            // Middle Column
            .w3-col.m7
                .w3-row-padding
                    .w3-col.m12
                        .w3-card.w3-round.w3-white
                            .w3-container.w3-padding
                                h6.w3-opacity Em que estás a pensar?
                                p.w3-border.w3-padding(contenteditable='true') A minha vida...
                                button.w3-button.w3-right.w3-theme.w3-round(type='button', id='publicar')
                                    i.fa.fa-pencil-square-o
                                    |  &nbsp;Publicar
                                button.w3-button.w3-hover-white(type='button')
                                    label(for="image")
                                        input(type="file" name="image" id="image" style="display:none;")
                                        i.fa.fa-camera
                                button.w3-button.w3-hover-white(type='button')
                                    label(for="event")
                                        input(type="file" name="event" id="event" style="display:none;")
                                        i.fa.fa-calendar
                .w3-container.w3-card.w3-white.w3-round.w3-margin
                    each item in items
                        -if(item.tipo.fotos)
                            br
                            img.w3-left.w3-circle.w3-margin-right(style="background:url(/images/user.png);background-size: cover;border-radius:50% 50% 50% 50%;width:60px;height:60px;")
                            h4=user.nome
                            br
                            p=item.descricao
                            .w3-row-padding(style='margin:0 -16px')
                                each foto in fotos
                                    .w3-half
                                        img.w3-margin-bottom(src=foto style='width:100%')
                            br
                            .hr.w3-clear
                            // Ao clicar mudar o botão para fa.fa.thumbs-up azul
                            form(method='POST' action='/gostar/')
                                button.w3-button.w3-margin-bottom(class="w3-hover-white" type='submit')
                                    i.fa.fa-thumbs-o-up
                                    = 'Gostos (' +  item.gostos +')'
                                button.w3-button.w3-margin-bottom(class="w3-hover-white" type='button' onclick="myFunction('Demo5')")
                                    i.fa.fa-comment-o
                                    = 'Comentarios (' +  item.comentarios.length +')'
                            .hr
                            each comentario in item.comentaruis
                                div(class="image-txt-container")
                                    img.w3-circle(src='/images/user.png' style='height:35px;width:35px; margin-top:10px; vertical-align:top' alt='Profile')
                                    | &nbsp;
                                    .w3-container(style="width:605px;vertical-align:top")
                                        p 
                                            b(style="color:#006683")=comentario.id_utilizador

                                        .w3-border.w3-round.w3-light-grey
                                            div(style="margin-left:10px")
                                                p=comentario.descricao
                                br
                                #Demo5.w3-hide
                                    .w3-container
                                        form(action='/' method='POST' enctype='multipart/form-data')
                                            img.w3-circle(src='/images/user.png' style='height:35px;width:35px;vertical-align:top' alt='Profile')
                                            | &nbsp; &nbsp; &nbsp;
                                            textarea.w3-round.w3-light-grey(placeholder="Write a comment...")
                                            button.w3-button.w3-right.w3-theme.w3-round(style="margin-right:5px" type='submit')
                                                i.fa.fa-comment-o
                                                |  &nbsp;Comentar
                                    br
            // End Middle Column
            // Right Column
            .w3-col.m2
                .w3-card.w3-round.w3-white.w3-center
                    .w3-container
                        p Eventos em breve:
                        img(src='/images/user.png' alt='Forest' style='width:100%;')
                        p
                            strong Holiday
                        p Friday 15:00
                        p
                            button.w3-button.w3-block.w3-theme-l4 Info
                br
            // End Right Column
        // End Grid
    // End Page Container
    br
    // Footer
    //footer.w3-container.w3-theme-d3.w3-padding-16
        h5 Footer
    //footer.w3-container.w3-theme-d5
        p
            | Powered by 
            a(href='https://www.w3schools.com/w3css/default.asp' target='_blank') w3.css

    script.
        // Get the modal
      var modal = document.getElementById('myModal');
      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");
      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];
      // When the user clicks the button, open the modal
      btn.onclick = function() {
        modal.style.display = "block";
      }
      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }