extends layout

block content
    // Barra de Navegação
    .w3-top
        .w3-bar.w3-theme-d2.w3-left-align.w3-large
            // Ao clicar neste botão ir para o feed
            a.w3-bar-item.w3-button.w3-padding-large.w3-hover-white(href='/feed')
                i.fa.fa-facebook.w3-margin-right
                | myFacebook
            .w3-bar-item.w3-hide-small.w3-padding-large(style='margin-left:142px')
                .search-container
                    form(action='/utilizadores/')
                        input(type='text' placeholder='Pesquisar...' name='nome')
                        | &nbsp;
                        button.w3-button.w3-hover-white(type='submit')
                            i.fa.fa-search
            // Ao clicar neste botão ir para a página inicial (login/registo)
            form(action='/utilizador/logout' method='POST')
                button.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-white(type='submit' title='Logout' style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;")
                    i.fa.fa-power-off
            // Ao clicar neste botão mostrar os utilizadores (nova página)
            a.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-white(href='/utilizadores' title='Utilizadores')
                i.fa.fa-group
            // Ao clicar neste botão mostrar os eventos (nova página)
            a.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-white(href='/eventos' title='Eventos')
                i.fa.fa-calendar-check-o
    // Page Container
    .w3-container.w3-content(style='max-width:1400px;margin-top:80px')
        // The Grid
        .w3-row
            // Left Column
            .w3-col.m3
                // Profile
                .w3-card.w3-round.w3-white
                    .w3-container
                        h4.w3-center=user.nome
                        p.w3-center
                            if (user.foto)
                                img.w3-circle(style="background:url(/images/"+user.foto+");background-size: cover;border-radius:50% 50% 50% 50%;width:106px;height:106px;")
                            else
                                img.w3-circle(style="background:url(/images/user.png);background-size: cover;border-radius:50% 50% 50% 50%;width:106px;height:106px;")
                        hr
                        p
                            i.fa.fa-at.fa-fw.w3-margin-right.w3-text-theme
                            span=user.email
                        if (user.morada)
                            p
                                i.fa.fa-home.fa-fw.w3-margin-right.w3-text-theme
                                span=user.morada
                        p
                            i.fa.fa-birthday-cake.fa-fw.w3-margin-right.w3-text-theme
                            span=user.dataNasc
                        p
                            -if (user.sexo == "Feminino")
                                i.fa.fa-venus.fa-fw.w3-margin-right.w3-text-theme
                            -else if(user.sexo == "Masculino")
                                i.fa.fa-mars.fa-fw.w3-margin-right.w3-text-theme
                            -else
                                i.fa.fa-genderless.fa-fw.w3-margin-right.w3-text-theme
                            span=user.sexo
                        br
                br
                // Accordion
                .w3-card.w3-round
                    .w3-white
                        button.w3-button.w3-block.w3-theme-l1.w3-left-align(onclick="myFunction('Demo2')")
                            i.fa.fa-calendar-check-o.fa-fw.w3-margin-right
                            |  Eventos
                        #Demo2.w3-hide.w3-container
                            .w3-row-padding
                                -var check = false
                                each item in items
                                    -if (!item.privacidade)
                                        -check = true
                                -if(check)
                                    ul
                                        each item in items
                                            -if(item.tipo.dataInicio && !item.privacidade)
                                                li
                                                    a(href="#"+item._id)=item.titulo
                                br
                        button.w3-button.w3-block.w3-theme-l1.w3-left-align(onclick="myFunction('Demo4')")
                            i.fa.fa-camera.fa-fw.w3-margin-right
                            |  Álbuns
                        #Demo4.w3-hide.w3-container
                            .w3-row-padding
                                -var check = false
                                each item in items
                                    -if (!item.privacidade)
                                        -check = true
                                -if(check)
                                    ul
                                        each item in items
                                            -if(item.tipo.fotos && !item.privacidade)
                                                li
                                                    a(href="#"+item._id)=item.titulo
                                br
                br
            // End Left Column
            // Middle Column
            .w3-col.m9
                -var check = false
                each item in items
                    -if (!item.privacidade)
                        -check = true
                -if (items.length == 0 || !check)
                    .w3-container.w3-card.w3-white.w3-round.w3-margin-left.w3-margin-bottom(style="min-height: 433px;vertical-align:middle")
                        p.w3-xlarge.w3-center(style="margin-top:180px") Ainda sem publicações...
                -else
                    each item in items
                        -if(!item.privacidade)
                            .w3-container.w3-card.w3-white.w3-round.w3-margin-left.w3-margin-bottom
                                -if(item.tipo.fotos)
                                    a(name=item._id)
                                    .w3-content(style='max-width:1400px;margin-top:1px')
                                            // The Grid
                                            .w3-row
                                                br
                                                if (user.foto)
                                                    img.w3-left.w3-circle.w3-margin-right(style="background:url(/images/"+user.foto+");background-size: cover;border-radius:50% 50% 50% 50%;width:60px;height:60px;")
                                                else
                                                    img.w3-left.w3-circle.w3-margin-right(style="background:url(/images/user.png);background-size: cover;border-radius:50% 50% 50% 50%;width:60px;height:60px;")
                                                h4=user.nome
                                                header.w3-container
                                                h4.w3-center.w3-text-theme Álbum
                                                table.w3-table-all
                                                    tr.w3-light-grey
                                                        td(style="width:100%")
                                                            p.w3-text-theme
                                                                b=item.titulo
                                                            if (item.local)
                                                                p
                                                                    i.fa.fa-home.w3-text-theme
                                                                    | &nbsp;&nbsp;
                                                                    u Local:
                                                                    | &nbsp;
                                                                    span=item.local
                                                            if (item.descricao)
                                                                p
                                                                    i.fa.fa-pencil.w3-text-theme
                                                                    | &nbsp;&nbsp;
                                                                    u Descrição:
                                                                    | &nbsp;
                                                                    span=item.descricao
                                                            -if(item.descritores.length > 0)
                                                                p
                                                                    i.fa.fa-hashtag.w3-text-theme
                                                                    | &nbsp;&nbsp;
                                                                    u Descritores:
                                                                    | &nbsp;
                                                                    each descritor in item.descritores
                                                                        span=descritor
                                                                        |&nbsp;&nbsp;
                                                            each foto in item.tipo.fotos
                                                                .w3-half
                                                                    img.w3-margin-bottom(src='/images/'+foto style='width:100%')
                                                            -i++
                                                br
                                                .hr.w3-clear
                                                // Ao clicar mudar o botão para fa.fa.thumbs-up azul
                                                button.w3-button.w3-margin-bottom(class="w3-hover-white gosto "+item._id)
                                                    -if(item.gostos > 0)
                                                        i.fa.fa-thumbs-o-up.w3-text-theme
                                                        |&nbsp;
                                                        span.w3-text-theme= 'Gostos (' +  item.gostos +')'
                                                    -else
                                                        i.fa.fa-thumbs-o-up
                                                        |&nbsp;
                                                        span= 'Gostos (' +  item.gostos +')'
                                                button.w3-button.w3-margin-bottom(class="w3-hover-white" type='button' onclick="myFunction('Demo5')")
                                                    i.fa.fa-comment-o
                                                    |&nbsp;
                                                    = 'Comentarios (' +  item.comentarios.length +')'
                                                each comentario in item.comentarios
                                                    .hr
                                                    div(class="image-txt-container")
                                                        each u in users
                                                            -if(u._id == comentario.id_utilizador)
                                                                if (u.foto)
                                                                    img.w3-circle(src='/images/'+u.foto style='height:35px;width:35px; margin-top:10px; vertical-align:top' alt='Profile')
                                                                else
                                                                    img.w3-circle(src='/images/user.png' style='height:35px;width:35px; margin-top:10px; vertical-align:top' alt='Profile')
                                                        | &nbsp;
                                                        .w3-container(style="width:605px;vertical-align:top")
                                                            p 
                                                                each u in users
                                                                    -if(u._id == comentario.id_utilizador)
                                                                        b(style="color:#006683")=u.nome

                                                            .w3-border.w3-round.w3-light-grey
                                                                div(style="margin-left:10px")
                                                                    p=comentario.descricao
                                                    br
                                                #Demo5
                                                    .hr
                                                    .w3-container
                                                        if (viewer.foto)
                                                            img.w3-circle(src='/images/'+viewer.foto style='height:35px;width:35px; margin-top:10px; vertical-align:top' alt='Profile')
                                                        else
                                                            img.w3-circle(src='/images/user.png' style='height:35px;width:35px; margin-top:10px; vertical-align:top' alt='Profile')
                                                        | &nbsp; &nbsp; &nbsp;
                                                        textarea.w3-round.w3-light-grey(placeholder="Escreva um comentário...", id="comentario"+item._id)
                                                        button.w3-button.w3-right.w3-theme.w3-round(style="margin-right:5px" class='comentarios '+item._id)
                                                            i.fa.fa-comment-o
                                                            |  &nbsp;Comentar
                                                    br
                                -if(item.tipo.dataInicio)
                                    a(name=item._id)
                                    .w3-content(style='max-width:1400px;margin-top:1px')
                                            // The Grid
                                            .w3-row
                                                br
                                                if (user.foto)
                                                    img.w3-left.w3-circle.w3-margin-right(style="background:url(/images/"+user.foto+");background-size: cover;border-radius:50% 50% 50% 50%;width:60px;height:60px;")
                                                else
                                                    img.w3-left.w3-circle.w3-margin-right(style="background:url(/images/user.png);background-size: cover;border-radius:50% 50% 50% 50%;width:60px;height:60px;")
                                                h4=user.nome
                                                header.w3-container
                                                h4.w3-center.w3-text-theme Evento
                                                table.w3-table-all
                                                    tr.w3-light-grey
                                                        td(style="width:100%")
                                                            p.w3-text-theme
                                                                b=item.titulo
                                                            if (item.local)
                                                                p
                                                                    i.fa.fa-home.w3-text-theme
                                                                    | &nbsp;&nbsp;
                                                                    u Local:
                                                                    | &nbsp;
                                                                    span=item.local
                                                            p
                                                                i.fa.fa-calendar-check-o.w3-text-theme
                                                                | &nbsp;&nbsp;
                                                                u Início:
                                                                | &nbsp;
                                                                span=item.tipo.dataInicio
                                                            p
                                                                i.fa.fa-calendar-times-o.w3-text-theme
                                                                | &nbsp;&nbsp;
                                                                u Fim:
                                                                | &nbsp;
                                                                span=item.tipo.dataFim
                                                            if (item.descricao)
                                                                p
                                                                    i.fa.fa-pencil.w3-text-theme
                                                                    | &nbsp;&nbsp;
                                                                    u Descrição:
                                                                    | &nbsp;
                                                                    span=item.descricao
                                                            -if(item.descritores.length > 0)
                                                                p
                                                                    i.fa.fa-hashtag.w3-text-theme
                                                                    | &nbsp;&nbsp;
                                                                    u Descritores:
                                                                    | &nbsp;
                                                                    each descritor in item.descritores
                                                                        span=descritor
                                                                        |&nbsp;&nbsp;
                                                            .w3-center
                                                                button.w3-button.w3-theme-d2(id="aderir") 
                                                                    a(style="text-decoration: none" href="/eventos/#"+item._id) Detalhes
                                                            -i++
                                                br
                                                .hr.w3-clear
                                                // Ao clicar mudar o botão para fa.fa.thumbs-up azul
                                                button.w3-button.w3-margin-bottom(class="w3-hover-white gosto "+item._id)
                                                    -if(item.gostos > 0)
                                                        i.fa.fa-thumbs-o-up.w3-text-theme
                                                        |&nbsp;
                                                        span.w3-text-theme= 'Gostos (' +  item.gostos +')'
                                                    -else
                                                        i.fa.fa-thumbs-o-up
                                                        |&nbsp;
                                                        span= 'Gostos (' +  item.gostos +')'
                                                button.w3-button.w3-margin-bottom(class="w3-hover-white" type='button' onclick="myFunction('Demo5')")
                                                    i.fa.fa-comment-o
                                                    |&nbsp;
                                                    = 'Comentarios (' +  item.comentarios.length +')'
                                                each comentario in item.comentarios
                                                    .hr
                                                    div(class="image-txt-container")
                                                        each u in users
                                                            -if(u._id == comentario.id_utilizador)
                                                                if (u.foto)
                                                                    img.w3-circle(src='/images/'+u.foto style='height:35px;width:35px; margin-top:10px; vertical-align:top' alt='Profile')
                                                                else
                                                                    img.w3-circle(src='/images/user.png' style='height:35px;width:35px; margin-top:10px; vertical-align:top' alt='Profile')
                                                        | &nbsp;
                                                        .w3-container(style="width:605px;vertical-align:top")
                                                            p 
                                                                each u in users
                                                                    -if(u._id == comentario.id_utilizador)
                                                                        b(style="color:#006683")=u.nome

                                                            .w3-border.w3-round.w3-light-grey
                                                                div(style="margin-left:10px")
                                                                    p=comentario.descricao
                                                    br
                                                #Demo5
                                                    .hr
                                                    .w3-container
                                                        if (viewer.foto)
                                                            img.w3-circle(src='/images/'+viewer.foto style='height:35px;width:35px; margin-top:10px; vertical-align:top' alt='Profile')
                                                        else
                                                            img.w3-circle(src='/images/user.png' style='height:35px;width:35px; margin-top:10px; vertical-align:top' alt='Profile')
                                                        | &nbsp; &nbsp; &nbsp;
                                                        textarea.w3-round.w3-light-grey(placeholder="Escreva um comentário...", id="comentario"+item._id)
                                                        button.w3-button.w3-right.w3-theme.w3-round(style="margin-right:5px" class='comentarios '+item._id)
                                                            i.fa.fa-comment-o
                                                            |  &nbsp;Comentar
                                                    br
                                -if(item.tipo == 'Ideia')
                                    br
                                    if (user.foto)
                                        img.w3-left.w3-circle.w3-margin-right(style="background:url(/images/"+user.foto+");background-size: cover;border-radius:50% 50% 50% 50%;width:60px;height:60px;")
                                    else
                                        img.w3-left.w3-circle.w3-margin-right(style="background:url(/images/user.png);background-size: cover;border-radius:50% 50% 50% 50%;width:60px;height:60px;")
                                    h4=user.nome
                                    br
                                    p=item.descricao
                                    -if(item.descritores.length > 0)
                                        p
                                            each descritor in item.descritores
                                                span=descritor
                                                |&nbsp;&nbsp;
                                    br
                                    .hr.w3-clear
                                    // Ao clicar mudar o botão para fa.fa.thumbs-up azul
                                    button.w3-button.w3-margin-bottom(class="w3-hover-white gosto "+item._id)
                                        -if(item.gostos > 0)
                                            i.fa.fa-thumbs-o-up.w3-text-theme
                                            |&nbsp;
                                            span.w3-text-theme= 'Gostos (' +  item.gostos +')'
                                        -else
                                            i.fa.fa-thumbs-o-up
                                            |&nbsp;
                                            span= 'Gostos (' +  item.gostos +')'
                                    button.w3-button.w3-margin-bottom(class="w3-hover-white" type='button' onclick="myFunction('Demo5')")
                                        i.fa.fa-comment-o
                                        |&nbsp;
                                        = 'Comentarios (' +  item.comentarios.length +')'
                                    each comentario in item.comentarios
                                        .hr
                                        div(class="image-txt-container")
                                            each u in users
                                                -if(u._id == comentario.id_utilizador)
                                                    if (u.foto)
                                                        img.w3-circle(src='/images/'+u.foto style='height:35px;width:35px; margin-top:10px; vertical-align:top' alt='Profile')
                                                    else
                                                        img.w3-circle(src='/images/user.png' style='height:35px;width:35px; margin-top:10px; vertical-align:top' alt='Profile')
                                            | &nbsp;
                                            .w3-container(style="width:605px;vertical-align:top")
                                                p 
                                                    each u in users
                                                        -if(u._id == comentario.id_utilizador)
                                                            b(style="color:#006683")=u.nome

                                                .w3-border.w3-round.w3-light-grey
                                                    div(style="margin-left:10px")
                                                        p=comentario.descricao
                                        br
                                    #Demo5
                                        .hr
                                        .w3-container
                                            if (viewer.foto)
                                                img.w3-circle(src='/images/'+viewer.foto style='height:35px;width:35px; margin-top:10px; vertical-align:top' alt='Profile')
                                            else
                                                img.w3-circle(src='/images/user.png' style='height:35px;width:35px; margin-top:10px; vertical-align:top' alt='Profile')
                                            | &nbsp; &nbsp; &nbsp;
                                            textarea.w3-round.w3-light-grey(placeholder="Escreva um comentário...", id="comentario"+item._id)
                                            button.w3-button.w3-right.w3-theme.w3-round(style="margin-right:5px" class='comentarios '+item._id)
                                                i.fa.fa-comment-o
                                                |  &nbsp;Comentar
                                        br
            // End Middle Column
        // End Grid
    // End Page Container
    br

    script.
      Array.from(document.getElementsByClassName('gosto')).map(el => {
          el.onclick = () => {
            var item_id = el.classList[el.classList.length-1]
            fetch("http://localhost:2018/api/item/"+item_id+"/like", {
              method: 'POST',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
              redirect: 'follow',
            }
            ).then(r => window.location.assign(window.location))
          }
      })

      Array.from(document.getElementsByClassName('comentarios')).map(el => {
          el.onclick = () => {
            var item_id = el.classList[el.classList.length-1];
            var comment = document.getElementById("comentario"+item_id).value
            var user_id = "#{viewer._id}";
            fetch("http://localhost:2018/api/item/"+item_id+"/comentario", {
              method: 'POST',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
              redirect: 'follow',
              body: JSON.stringify({
                  descricao: comment,
                  id_utilizador: user_id
              })
            }
            ).then(r => window.location.assign(window.location))
          }
      })