extends layout

block content
    // Barra de Navegação
    .w3-top
        .w3-bar.w3-theme-d2.w3-left-align.w3-large
            // Ao clicar neste botão ir para o feed
            a.w3-bar-item.w3-button.w3-padding-large.w3-hover-white(href='/feed')
                i.fa.fa-facebook.w3-margin-right
                | myFacebook
            // Ao clicar neste botão ir para a página de perfil
            //a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-white(href='/feed' title='Perfil')
                img.w3-circle(src='/images/user.png' style='height:30px;width:30px' alt='Perfil')
                b(style="font-size:14px") &nbsp;&nbsp;Utilizador
            .w3-bar-item.w3-hide-small.w3-padding-large(style='margin-left:142px')
                .search-container
                    form(action='/utilizadores/')
                        input(type='text' placeholder='Pesquisar...' name='nome')
                        | &nbsp;
                        button.w3-button.w3-hover-white(type='submit')
                            i.fa.fa-search
            // Ao clicar neste botão ir para a página inicial (login/registo)
            form(action='/utilizador/logout' method='POST')
                button.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-white(type='submit' title='Logout' style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;")
                    i.fa.fa-power-off
            // Ao clicar neste botão mostrar os users (nova página)
            a.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-white(href='/utilizadores' title='Utilizadores')
                i.fa.fa-group
            // Ao clicar neste botão mostrar os eventos (nova página)
            a.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-white(href='/items' title='Eventos')
                i.fa.fa-calendar-check-o
            .w3-dropdown-hover.w3-right.w3-hide-small
                button.w3-button.w3-padding-large.w3-hover-white(title='Notificações')
                    i.fa.fa-bell
                    span.w3-badge.w3-right.w3-small.w3-green 3
                // Ao clicar numa notificação ir para a página referente
                .w3-dropdown-content.w3-card-4.w3-bar-block(style='width:300px;right:0')
                    a.w3-bar-item.w3-button(href='#') One new friend request
                    a.w3-bar-item.w3-button(href='#') John Doe posted on your wall
                    a.w3-bar-item.w3-button(href='#') Jane likes your post
    // Page Container
    .w3-container.w3-content(style='max-width:1400px;margin-top:80px')
        // The Grid
        .w3-row
            // Left Column
            .w3-col.m3
                // Profile
                .w3-card.w3-round.w3-white
                    .w3-container
                        h4.w3-center=user.nome
                        p.w3-center
                            img.w3-circle(style="background:url(/images/user.png);background-size: cover;border-radius:50% 50% 50% 50%;width:106px;height:106px;")
                        hr
                        p
                            i.fa.fa-at.fa-fw.w3-margin-right.w3-text-theme
                            span=user.email
                        if (user.morada)
                            p
                                i.fa.fa-home.fa-fw.w3-margin-right.w3-text-theme
                                span=user.morada
                        p
                            i.fa.fa-birthday-cake.fa-fw.w3-margin-right.w3-text-theme
                            span=user.dataNasc
                        p
                            -if (user.sexo == "Feminino")
                                i.fa.fa-venus.fa-fw.w3-margin-right.w3-text-theme
                            -else if(user.sexo == "Masculino")
                                i.fa.fa-mars.fa-fw.w3-margin-right.w3-text-theme
                            -else
                                i.fa.fa-genderless.fa-fw.w3-margin-right.w3-text-theme
                            span=user.sexo
                        br
                br
                // Accordion
                .w3-card.w3-round
                    .w3-white
                        button.w3-button.w3-block.w3-theme-l1.w3-left-align(onclick="myFunction('Demo2')")
                            i.fa.fa-calendar-check-o.fa-fw.w3-margin-right
                            |  Eventos
                        #Demo2.w3-hide.w3-container
                            .w3-row-padding
                                each item in items
                                    ul
                                    -if(item.tipo.dataInicio)
                                        li
                                            a(href="#"+item._id)=item.titulo
                                br
                        button.w3-button.w3-block.w3-theme-l1.w3-left-align(onclick="myFunction('Demo4')")
                            i.fa.fa-camera.fa-fw.w3-margin-right
                            |  Álbuns
                        #Demo4.w3-hide.w3-container
                            .w3-row-padding
                                each item in items
                                    ul
                                    -if(item.tipo.fotos)
                                        li
                                            a(href="#"+item._id)=item.titulo
                                br
                br
                // Interests
                .w3-card.w3-round.w3-white.w3-hide-small
                    .w3-container
                        p Interests
                        p
                            span.w3-tag.w3-small.w3-theme-d5 News
                            span.w3-tag.w3-small.w3-theme-d4 W3Schools
                            span.w3-tag.w3-small.w3-theme-d3 Labels
                            span.w3-tag.w3-small.w3-theme-d2 Games
                            span.w3-tag.w3-small.w3-theme-d1 Friends
                            span.w3-tag.w3-small.w3-theme Games
                            span.w3-tag.w3-small.w3-theme-l1 Friends
                            span.w3-tag.w3-small.w3-theme-l2 Food
                            span.w3-tag.w3-small.w3-theme-l3 Design
                            span.w3-tag.w3-small.w3-theme-l4 Art
                            span.w3-tag.w3-small.w3-theme-l5 Photos
                br
            // End Left Column
            // Middle Column
            .w3-col.m9
                -if (items.length == 0)
                    .w3-container.w3-card.w3-white.w3-round.w3-margin-left.w3-margin-bottom(style="min-height: 550px;vertical-align:middle")
                        p.w3-xlarge.w3-center(style="margin-top:245px") Ainda sem publicações...
                -var check = false
                each item in items
                    -if(!item.privacidade)
                        -check = true
                -if(!check)
                    .w3-container.w3-card.w3-white.w3-round.w3-margin-left.w3-margin-bottom(style="min-height: 550px;vertical-align:middle")
                        p.w3-xlarge.w3-center(style="margin-top:245px") Ainda sem publicações...
                -else
                    each item in items
                        -if(!item.privacidade)
                            .w3-container.w3-card.w3-white.w3-round.w3-margin-left.w3-margin-bottom
                                -if(item.tipo.fotos)
                                    a(name=item._id)
                                    .w3-content(style='max-width:1400px;margin-top:1px')
                                            // The Grid
                                            .w3-row
                                                br
                                                img.w3-left.w3-circle.w3-margin-right(style="background:url(/images/user.png);background-size: cover;border-radius:50% 50% 50% 50%;width:60px;height:60px;")
                                                h4=user.nome
                                                header.w3-container
                                                h4.w3-center.w3-text-theme Álbum
                                                table.w3-table-all
                                                    tr.w3-light-grey
                                                        td(style="width:100%")
                                                            p.w3-text-theme
                                                                b=item.titulo
                                                            if (item.local)
                                                                p
                                                                    i.fa.fa-home.w3-text-theme
                                                                    | &nbsp;&nbsp;
                                                                    u Local:
                                                                    | &nbsp;
                                                                    span=item.local
                                                            if (item.descricao)
                                                                p
                                                                    i.fa.fa-pencil.w3-text-theme
                                                                    | &nbsp;&nbsp;
                                                                    u Descrição:
                                                                    | &nbsp;
                                                                    span=item.descricao
                                                            -if(item.descritores.length > 0)
                                                                p
                                                                    i.fa.fa-hashtag.w3-text-theme
                                                                    | &nbsp;&nbsp;
                                                                    u Descritores:
                                                                    | &nbsp;
                                                                    each descritor in item.descritores
                                                                        span=descritor
                                                                        |&nbsp;&nbsp;
                                                            each foto in item.tipo.fotos
                                                                .w3-half
                                                                    img.w3-margin-bottom(src='/images/'+foto style='width:100%')
                                                            -i++
                                                br
                                                .hr.w3-clear
                                    // Ao clicar mudar o botão para fa.fa.thumbs-up azul
                                    form(method='POST' action='/gostar/')
                                        button.w3-button.w3-margin-bottom(class="w3-hover-white" type='submit')
                                            i.fa.fa-thumbs-o-up
                                            = 'Gostos (' +  item.gostos +')'
                                        button.w3-button.w3-margin-bottom(class="w3-hover-white" type='button' onclick="myFunction('#{item._id}')")
                                            i.fa.fa-comment-o
                                            = 'Comentarios (' +  item.comentarios.length +')'
                                    each comentario in item.comentarios
                                        .hr
                                        div(class="image-txt-container")
                                            img.w3-circle(src='/images/user.png' style='height:35px;width:35px; margin-top:10px; vertical-align:top' alt='Profile')
                                            | &nbsp;
                                            .w3-container(style="width:605px;vertical-align:top")
                                                p 
                                                    b(style="color:#006683")=comentario.id_utilizador

                                                .w3-border.w3-round.w3-light-grey
                                                    div(style="margin-left:10px")
                                                        p=comentario.descricao
                                        br
                                    .w3-hide(class="#"+item_id)
                                        -if(item.comentarios.length == 0)
                                        .hr
                                        .w3-container
                                            form(action='/' method='POST' enctype='multipart/form-data')
                                                img.w3-circle(src='/images/user.png' style='height:35px;width:35px;vertical-align:top' alt='Profile')
                                                | &nbsp; &nbsp; &nbsp;
                                                textarea.w3-round.w3-light-grey(placeholder="Escreva um comentário...")
                                                button.w3-button.w3-right.w3-theme.w3-round(style="margin-right:5px" type='submit')
                                                    i.fa.fa-comment-o
                                                    |  &nbsp;Comentar
                                        br
                                -if(item.tipo.dataInicio)
                                    a(name=item._id)
                                    .w3-content(style='max-width:1400px;margin-top:1px')
                                            // The Grid
                                            .w3-row
                                                br
                                                img.w3-left.w3-circle.w3-margin-right(style="background:url(/images/user.png);background-size: cover;border-radius:50% 50% 50% 50%;width:60px;height:60px;")
                                                h4=user.nome
                                                header.w3-container
                                                h4.w3-center.w3-text-theme Evento
                                                table.w3-table-all
                                                    tr.w3-light-grey
                                                        td(style="width:100%")
                                                            p.w3-text-theme
                                                                b=item.titulo
                                                            if (item.local)
                                                                p
                                                                    i.fa.fa-home.w3-text-theme
                                                                    | &nbsp;&nbsp;
                                                                    u Local:
                                                                    | &nbsp;
                                                                    span=item.local
                                                            p
                                                                i.fa.fa-calendar-check-o.w3-text-theme
                                                                | &nbsp;&nbsp;
                                                                u Início:
                                                                | &nbsp;
                                                                span=item.tipo.dataInicio
                                                            p
                                                                i.fa.fa-calendar-times-o.w3-text-theme
                                                                | &nbsp;&nbsp;
                                                                u Fim:
                                                                | &nbsp;
                                                                span=item.tipo.dataFim
                                                            if (item.descricao)
                                                                p
                                                                    i.fa.fa-pencil.w3-text-theme
                                                                    | &nbsp;&nbsp;
                                                                    u Descrição:
                                                                    | &nbsp;
                                                                    span=item.descricao
                                                            .w3-center
                                                                button.w3-button.w3-theme-d2(id="aderir") 
                                                                    a(style="text-decoration: none" href="/items/#"+item._id) Detalhes
                                                            -i++
                                                br
                                                .hr.w3-clear
                                                // Ao clicar mudar o botão para fa.fa.thumbs-up azul
                                                form(method='POST' action='/gostar/')
                                                    button.w3-button.w3-margin-bottom(class="w3-hover-white" type='submit')
                                                        i.fa.fa-thumbs-o-up
                                                        = 'Gostos (' +  item.gostos +')'
                                                    button.w3-button.w3-margin-bottom(class="w3-hover-white" type='button' onclick="myFunction('#{item._id}')")
                                                        i.fa.fa-comment-o
                                                        = 'Comentarios (' +  item.comentarios.length +')'
                                                each comentario in item.comentarios
                                                    .hr
                                                    div(class="image-txt-container")
                                                        img.w3-circle(src='/images/user.png' style='height:35px;width:35px; margin-top:10px; vertical-align:top' alt='Profile')
                                                        | &nbsp;
                                                        .w3-container(style="width:605px;vertical-align:top")
                                                            p 
                                                                b(style="color:#006683")=comentario.id_utilizador

                                                            .w3-border.w3-round.w3-light-grey
                                                                div(style="margin-left:10px")
                                                                    p=comentario.descricao
                                                    br
                                                    .w3-hide(class="#"+item_id)
                                                    -if(item.comentarios.length == 0)
                                                    .hr
                                                    .w3-container
                                                        form(action='/' method='POST' enctype='multipart/form-data')
                                                            img.w3-circle(src='/images/user.png' style='height:35px;width:35px;vertical-align:top' alt='Profile')
                                                            | &nbsp; &nbsp; &nbsp;
                                                            textarea.w3-round.w3-light-grey(placeholder="Escreva um comentário...")
                                                            button.w3-button.w3-right.w3-theme.w3-round(style="margin-right:5px" type='submit')
                                                                i.fa.fa-comment-o
                                                                |  &nbsp;Comentar
                                                    br
                                -if(item.tipo == 'Ideia')
                                    br
                                    img.w3-left.w3-circle.w3-margin-right(style="background:url(/images/user.png);background-size: cover;border-radius:50% 50% 50% 50%;width:60px;height:60px;")
                                    h4=user.nome
                                    br
                                    p=item.descricao
                                    br
                                    .hr.w3-clear
                                    // Ao clicar mudar o botão para fa.fa.thumbs-up azul
                                    button.w3-button.w3-margin-bottom(class="w3-hover-white gosto "+item._id)
                                        i.fa.fa-thumbs-o-up
                                        = 'Gostos (' +  item.gostos +')'
                                    button.w3-button.w3-margin-bottom(class="w3-hover-white" type='button' onclick="myFunction('#{item._id}')")
                                        i.fa.fa-comment-o
                                        = 'Comentarios (' +  item.comentarios.length +')'
                                    each comentario in item.comentarios
                                        .hr
                                        div(class="image-txt-container")
                                            img.w3-circle(src='/images/user.png' style='height:35px;width:35px; margin-top:10px; vertical-align:top' alt='Profile')
                                            | &nbsp;
                                            .w3-container(style="width:605px;vertical-align:top")
                                                p 
                                                    b(style="color:#006683")=comentario.id_utilizador

                                                .w3-border.w3-round.w3-light-grey
                                                    div(style="margin-left:10px")
                                                        p=comentario.descricao
                                        br
                                    div.w3-hide(id="#{item._id}")
                                        -if(item.comentarios.length == 0)
                                        .hr
                                        .w3-container
                                            img.w3-circle(src='/images/user.png' style='height:35px;width:35px;vertical-align:top' alt='Profile')
                                            | &nbsp; &nbsp; &nbsp;
                                            textarea.w3-round.w3-light-grey(placeholder="Escreva um comentário...", id="comentario")
                                            button.w3-button.w3-right.w3-theme.w3-round(style="margin-right:5px" class='comentarios '+item._id)
                                                i.fa.fa-comment-o
                                                |  &nbsp;Comentar
                                        br

                    // End Middle Column
        // End Grid
    // End Page Container
    br
    // Footer
    //footer.w3-container.w3-theme-d3.w3-padding-16
        h5 Footer
    //footer.w3-container.w3-theme-d5
        p
            | Powered by 
            a(href='https://www.w3schools.com/w3css/default.asp' target='_blank') w3.css

    script.
        // Get the modal
      var modal = document.getElementById('myModal');
      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");
      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];
      // When the user clicks the button, open the modal
      btn.onclick = function() {
        modal.style.display = "block";
      }
      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }