extends layout

block content
    // Barra de Navegação
    .w3-top
        .w3-bar.w3-theme-d2.w3-left-align.w3-large
            // Ao clicar neste botão ir para o feed
            a.w3-bar-item.w3-button.w3-padding-large.w3-hover-white(href='/feed')
                i.fa.fa-facebook.w3-margin-right
                | myFacebook
            .w3-bar-item.w3-hide-small.w3-padding-large(style='margin-left:142px')
                .search-container
                    form(action='/utilizadores/')
                        input(type='text' placeholder='Pesquisar...' name='nome')
                        | &nbsp;
                        button.w3-button.w3-hover-white(type='submit')
                            i.fa.fa-search
            // Ao clicar neste botão ir para a página inicial (login/registo)
            form(action='/utilizador/logout' method='POST')
                button.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-white(type='submit' title='Logout' style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;")
                    i.fa.fa-power-off
            // Ao clicar neste botão mostrar os utilizadores (nova página)
            a.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-white(href='/utilizadores' title='Utilizadores')
                i.fa.fa-group
            // Ao clicar neste botão mostrar os eventos (nova página)
            a.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-white(href='/eventos' title='Eventos')
                i.fa.fa-calendar-check-o
    // Page Container
    .w3-content(style='max-width:1400px;margin-top:50px')
        // The Grid
        .w3-row
            header.w3-container
                h2.w3-center(style="color:#006683") Utilizadores
            -var i = 0
            -var yes = false
            -if(utilizadores.length==1 && utilizadores[0].email != user.email)
                -yes=true
            -if(utilizadores.length > 1)
                -yes=true
            -if(yes)
                table.w3-table-all
                    - while(i < utilizadores.length)
                        -var check = false
                        -while(!check)
                            -if (i < utilizadores.length)
                                -var u = utilizadores[i]
                                -if(u.email != user.email)  
                                    tr 
                                        td(style="vertical-align:middle;width:50%")
                                            div(class="image-txt-container")
                                                img.w3-circle(src='/images/user.png' style='height:80px;width:80px;vertical-align:middle' alt='Profile')
                                                | &nbsp;
                                                .w3-container(style="width:605px;vertical-align:top")
                                                    i.fa.fa-user(style="color:#006683") &nbsp;&nbsp;&nbsp;
                                                    span
                                                        a(href="/utilizador/"+u._id)=u.nome
                                                    br
                                                    i.fa.fa-at(style="color:#006683") &nbsp;&nbsp;
                                                    span=u.email
                                                    br
                                                    if (u.morada)
                                                        i.fa.fa-home(style="color:#006683") &nbsp;&nbsp;
                                                        span=u.morada
                                                        br
                                                    -if (u.sexo == "Feminino")
                                                        i.fa.fa-venus(style="color:#006683") &nbsp;&nbsp;
                                                    -else if(u.sexo == "Masculino")
                                                        i.fa.fa-mars(style="color:#006683") &nbsp;&nbsp;
                                                    -else
                                                        i.fa.fa-genderless(style="color:#006683") &nbsp;&nbsp;
                                                    span=u.sexo
                                                    -i++
                                                    br
                                        -while(!check)
                                            -if (i < utilizadores.length)
                                                -var u = utilizadores[i]
                                                -if(u.email != user.email)
                                                    -check = true
                                                    td(style="vertical-align:middle;width:50%")
                                                        div(class="image-txt-container")
                                                            img.w3-circle(src='/images/user.png' style='height:80px;width:80px;vertical-align:middle' alt='Profile')
                                                            | &nbsp;
                                                            .w3-container(style="width:605px;vertical-align:top")
                                                                i.fa.fa-user(style="color:#006683") &nbsp;&nbsp;&nbsp;
                                                                span
                                                                    a(href="/utilizador/"+u._id)=u.nome
                                                                br
                                                                i.fa.fa-at(style="color:#006683") &nbsp;&nbsp;
                                                                span=u.email
                                                                br
                                                                if (u.morada)
                                                                    i.fa.fa-home(style="color:#006683") &nbsp;&nbsp;
                                                                    span=u.morada
                                                                    br
                                                                -if (u.sexo == "Feminino")
                                                                    i.fa.fa-venus(style="color:#006683") &nbsp;&nbsp;
                                                                -else if(u.sexo == "Masculino")
                                                                    i.fa.fa-mars(style="color:#006683") &nbsp;&nbsp;
                                                                -else
                                                                    i.fa.fa-genderless(style="color:#006683") &nbsp;&nbsp;
                                                                span=u.sexo
                                                                -i++
                                                                br
                                                -else
                                                    -i++
                                            -else
                                                -check = true
                                                td(style="width:50%")
                                -else
                                    -i++
                            -else
                                -check = true
                    